<div #modal class="modal" (click)="closeModal($event)">
  <div class="modal-content">
    <button #closeButton class="close-btn" (click)="closeModal($event)">&times;</button>
    <div class="container">
        <div class="profile-container">
          <h2 class="profile-title">Account Settings</h2>
          <div class="user-info">
            <h3>Username: {{user.username}}</h3>
            <div class="user-details">
              <img [src]='user.userPic' alt="User Avatar" class="avatar" />
              @if (!isGoogleFacebook) {
                <button class="fancy-text" (click)="toggleUsernameForm()">Change username</button>
              }
            </div>
          </div>
          @if (showUsernameForm) {
            <form [formGroup]="userNameForm" (ngSubmit)="onChangeUsername()" class="form-section">
              <input
                type="text"
                formControlName="userName"
                placeholder="Enter new username"
                class="form-control"
              />
              @if (userNameForm.get('userName')?.invalid && userNameForm.get('userName')?.touched) {
                <div class="error">
                  @if (userNameForm.get('userName')?.hasError('required')) {
                    <small>Username is required.</small>
                  }
                  @if (userNameForm.get('userName')?.hasError('minlength')) {
                    <small>Minimum 4 characters.</small>
                  }
                  @if (userNameForm.get('userName')?.hasError('startsWithGuest')) {
                    <small>Cannot start with "Guest" or "guest".</small>
                  }
                </div>
              }
              <button type="submit" class="btn btn-primary" [disabled]="userNameForm.invalid">
                Save Username
              </button>
            </form>
          }
          <div class="email-section">
            <h3>Email: {{user.email}}</h3>
            @if (!isGoogleFacebook) {
              <button class="fancy-text" (click)="toggleEmailForm()">Change email</button>
            }
          </div>
          @if (showEmailForm) {
            <form [formGroup]="emailForm" (ngSubmit)="onChangeEmail()" class="form-section">
              <input
                type="email"
                formControlName="email"
                placeholder="Enter new email"
                class="form-control"
              />
              @if (isEmailTaken)
              {
                <small class="text-danger">
                        The email you entered is already in use.    
                </small>
              }
              @if (emailForm.get('email')?.invalid && emailForm.get('email')?.touched) {
                <div class="error">
                  @if (emailForm.get('email')?.hasError('required')) {
                    <small>Email is required.</small>
                  }
                  @if (emailForm.get('email')?.hasError('email')) {
                    <small>Enter a valid email address.</small>
                  }
                </div>
              }
              <button type="submit" class="btn btn-primary" [disabled]="emailForm.invalid">
                Save Email
              </button>
            </form>
          }
        <div class="password-section">
          <button class="fancy-text" (click)="togglePasswordForm()">Change password</button>
        </div>
        <!-- CHANGE PASSWORD FORM -->
        @if (showPasswordForm) {
          <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()" class="form-section">
            <input
              type="password"
              formControlName="oldPassword"
              placeholder="Old password"
              class="form-control"
            />
            <input
              type="password"
              formControlName="newPassword"
              placeholder="New password"
              class="form-control"
            />
            @if (passwordForm.errors?.['passwordsAreNotEqual']) {
              <div class="error">
                <small>Passwords do not match.</small>
              </div>
            }

            <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid">
              Save Password
            </button>
          </form>
        }
      </div>
      <p>Date joined: {{user.dateJoined}}</p>
      <div>Score: {{user.score}}</div>
      <div>Games won: {{user.gamesWon}}</div>
      <div>Games lost: {{user.gamesLost}}</div>
      <div>Games tied: {{user.gamesDraw}}</div>
      <div class="avatar-section">
        <p>Switch avatar</p>
        <div class="picture-grid">
          @if(user.userPic != 'icon1.png') 
          {
            <div (click)='switchAvatar(1)'>
              <img src="icon1.png" alt="optional avatar num.1">
            </div>
          }
          @if(user.userPic != 'icon2.png') 
          {
            <div (click)='switchAvatar(2)'>
              <img src="icon2.png" alt="optional avatar num.2">
            </div>
          }
          @if(user.userPic != 'icon3.png') 
          {
            <div (click)='switchAvatar(3)'>
              <img src="icon3.png" alt="optional avatar num.3">
            </div>
          }
          @if(user.userPic != 'icon4.png') 
          {
            <div (click)='switchAvatar(4)'>
              <img src="icon4.png" alt="optional avatar num.4">
            </div>
          }
          @if(user.userPic != 'icon5.png') 
          {
            <div (click)='switchAvatar(5)'>
              <img src="icon5.png" alt="optional avatar num.5">
          </div>
          }
          @if(user.userPic != 'icon6.png') 
          {
            <div (click)='switchAvatar(6)'>
              <img src="icon6.png" alt="optional avatar num.6">
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
