<div #modal class="modal" (click)="closeModal($event)">
  <div class="modal-content">
    <button #closeButton class="close-btn" (click)="closeModal($event)">&times;</button>
    <h3>Username: </h3>
    <img src="example.png" alt="user avatar">
     @if(!isGoogleFacebook)
    {
            <button class="fancy-text">Change Username</button>
    } 
    <div>
        <p>Email:</p>
        @if(!isGoogleFacebook)
        {
            <button class="fancy-text">Change Email</button>
        } 
    </div>
    <p>Date joined:</p>
    <button class="fancy-text">Change Password</button>
    <div>Scrore: N/A</div>
    <div>Games Won</div>
    <div>Games Lost</div>
    <div>Games Tied</div>
  </div>
</div>
