<div class="small-layout">
    <div class="default-small">
        <i class="fa-solid fa-bars" (click)="isHamburgerMenuOpen = !isHamburgerMenuOpen;"></i>
        <img class="small-pic" src="logo.png" alt="chess logo"/>
    </div>
    <div class="aligned-column">
        @if (isHamburgerMenuOpen)
        {
            <button class="fancy-text" (click)="isRequestGameModalOpen = !isRequestGameModalOpen;">Play <i class="fa-solid fa-chess"></i></button>
            <button class="fancy-text" (click) = 'handleSocial()'>Social<img class="small-pic" src="people.png" alt="icon of people in blue"/></button>
            <div class="navbar-item fancy-text" (click)="clickSignUpModal()">{{signUpOrPersonal}}</div>
            <div class="navbar-item fancy-text" (click)="LogInLogOut()">{{currentLoginMessage}}</div>
            <div class="navbar-item fancy-text" (click)="leagueModalOpenClose()">View League</div> 
            <div class="search-container">
                <input type="text" placeholder="search.." [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange($event)"/>
                @if(isSearchModalOpen === true)
                {
                    <app-search-modal [userList]="userList"></app-search-modal>
                }
            </div>
            <div class="navbar-item" (click)="changeBGColor()">{{currentUI}}<i class="fa-solid fa-circle-half-stroke"></i></div>
            @if (isSignupModalOpen)
            {
                <app-signup (closeModalEmitter)="closeSignupModal()"></app-signup>
            }
            @if (isPersonalOpen)
            {
                <app-personal (closeModalEmitter)="closePersonal()">
                </app-personal>
            }
            @if (isLoginModalOpen)
            {
                <app-login (closeModalEmitter)="closeLoginModal()"></app-login>
            }
            @if(isRequestGameModalOpen)
            {
                <app-request-game-modal (resultEmitter)="handleGameRequestModal()">
                </app-request-game-modal>
            }
            @if(isSocialModalOpen)
            {
                <app-social (closeSocial)="isSocialModalOpen=false;"></app-social>
            } 
            @if (isLeagueOpen) 
            {
                <app-league-screen (exit)="closeLeague()"></app-league-screen>
            }
        }
    </div>
</div>
<div class="big-layout">
    <img class="logo" src="logo.png" alt="chess logo"/>
    <button class="fancy-text" (click)="isRequestGameModalOpen = !isRequestGameModalOpen;">Play <i class="fa-solid fa-chess"></i></button>
    <button class="fancy-text" (click) = 'handleSocial()'>Social<img class="small-pic" src="people.png" alt="icon of people in blue"/></button>
    <div class="navbar-item fancy-text" (click)="clickSignUpModal()">{{signUpOrPersonal}}</div>
    <div class="navbar-item fancy-text" (click)="LogInLogOut()">{{currentLoginMessage}}</div> 
    <div class="navbar-item fancy-text" (click)="leagueModalOpenClose()">View League</div>
    <div class="search-container">
        <input type="text" placeholder="search.." [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange($event)"/>
        @if(isSearchModalOpen === true)
        {
            <app-search-modal [userList]="userList"></app-search-modal>
        }
    </div>
    <div class="navbar-item" (click)="changeBGColor()">{{currentUI}}<i class="fa-solid fa-circle-half-stroke"></i></div>
    @if (isSignupModalOpen)
    {
        <app-signup (closeModalEmitter)="closeSignupModal()"></app-signup>
    }
    @if (isLoginModalOpen)
    {
        <app-login (closeModalEmitter)="closeLoginModal()"></app-login>
    }
    @if(isRequestGameModalOpen)
    {
        <app-request-game-modal (resultEmitter)="handleGameRequestModal()">
        </app-request-game-modal>
    }
    @if(isSocialModalOpen)
    {
        <app-social (closeSocial)="isSocialModalOpen=false;"></app-social>
    }
    @if (isPersonalOpen)
    {
        <app-personal (closeModalEmitter)="closePersonal()">
        </app-personal>
    }
    @if (isLeagueOpen) 
    {
        <app-league-screen (exit)="closeLeague()"></app-league-screen>
    }
</div>

