.layout
{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.container
{
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
}
.board
{
    display: flex;
    flex-direction: column;
}
.blackTile, .whiteTile
{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blackTile
{
    background-color: black; //change to var somethings in themes
}
.whiteTile
{
    background-color: white;
}
.whiteHighLighted
{
    background-color: wheat;
}
.blackHighLighted
{
    background-color: rgb(197, 173, 128);
}
.fa-circle
{
    color: #adc6f0;
    opacity: 0.5;
    position: absolute;
    z-index: 20;
    left: auto;
    top: auto;
}
i
{
    font-size: 30px;
}
.blackPiece
{
    color: blueviolet;
}
.whitePiece
{
    color: rgb(214, 184, 242);
}
/* apply to your element */
.spin {
  animation: spin 30s linear infinite;
  transform-origin: center center;
  display: flex;
  place-self: center;
}
#hourglass-modal
{
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
}
/* keyframes for full rotation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
