.layout
{
    display: flex;
    margin: 10px;
    flex-direction: column;
}
@media only screen and (min-width: 740px) {
    .layout
    {
        flex-direction: row;
    } 
}
.container
{
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    position: relative;
    z-index: 1;
}
.board-and-row-col-indices
{
    width: 400px;
    height: 400px;
    position: relative;
    .row-indices, .col-indices {
        display: grid;
        position: absolute;
        z-index: 1;
        color: chartreuse;
        background: transparent;
        pointer-events: none;
        left: 0;
        text-align: center;
    }
    .row-indices {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        width: 100%;
        height: 20px;
        top: calc(100% - 25px);
    }
    .col-indices {
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: 1fr;
        height: 100%;
        width: 20px;
        top: 0;
    }
    .row-indices > div,
    .col-indices > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.board
{
    display: flex;
    flex-direction: column;
}
.tile
{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blackTile:hover, .whiteTile:hover
{
    cursor: pointer;
}
.blackTile
{
    background-color: black; //change to var somethings in themes
}
.whiteTile
{
    background-color: white;
}
.whiteHighLighted
{
    background-color: wheat;
}
.blackHighLighted
{
    background-color: rgb(197, 173, 128);
}
.fa-circle
{
    color: #adc6f0;
    opacity: 0.7;
    position: absolute;
    z-index: 20;
    left: auto;
    top: auto;
    font-weight: bold;
}
i
{
    font-size: 30px;
}
.blackPiece
{
    color: blueviolet;
}
.whitePiece
{
    color: rgb(214, 184, 242);
}
/* apply to your element */
.spin {
  animation: spin 30s linear infinite;
  transform-origin: center center;
  display: flex;
  place-self: center;
}
#hourglassModal
{
    position: absolute;
    z-index: 50;
    width: 400px;
    height: 400px;
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    div
    {
        height: fit-content;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        img
        {
            height: 40px;
            width: 40px;
        }
    }
}
/* keyframes for full rotation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
