:host
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 100%;
    a
    {
        border: 1px solid black;
        padding: 5px;   
    }
}