<div class="modal" (click)="closeModal()">
    <div class="modal-content">
        <button class="close-btn">&times;</button>
        <div class="container">
            @if(gameOverType==="Win")
            {
                <div class="fancy-text">You won against {{opponentUserName}}</div>
            }
            @if(gameOverType==="Lose")
            {
                <div class="fancy-text">You lost to {{opponentUserName}}</div>
            }
            @if(gameOverType==="Draw")
            {
                <div class="fancy-text">It's a draw between you and {{opponentUserName}}</div>
            }
            @if(gameOverType==="Withdraw")
            {
                <div class="fancy-text">User {{opponentUserName}} has withdrawn</div>
            } 
            @if(gameOverType==="Lost Connectivity")
            {
                <div class="fancy-text">User {{opponentUserName}} has lost connectivity</div>
            } 
            <img src="cuteRook.png" alt="cute pink rook smiling">
        </div>
    </div>
</div>
