:host
{
    width: 200px;
    padding: 10px;
}
h3
{
    white-space: nowrap;
    display: flex;
    justify-self: center;
}
.tracking-row, .reverse-row-direction
{
    display: flex;
    height: fit-content;
    justify-content: space-between;
}
.reverse-row-direction
{
    width: calc(100% - 65px);
}
