<div class="modal">
    <div class="modal-content">
        <!-- <p>hourglass by Sma-rtez from 
            <a href="https://thenounproject.com/browse/icons/term/hourglass/" target="_blank" title="hourglass Icons">Noun Project</a>
             (CC BY 3.0)</p> -->
        <p>Ghost icon by Freepik from 
            <a href="https://www.flaticon.com/free-icons/ghost" title="ghost icons">Ghost icons created by Freepik - Flaticon</a>
            (CC BY 3.0)</p>
        <p>People icons by Creartive from  
            <a href="https://www.flaticon.com/free-icons/people" title="people icons">People icons created by Creartive - Flaticon</a>
            (CC BY 3.0)</p>
    </div>
</div>
