@use '../../../styles.scss' as *;

.rq-content
{
    height: fit-content;
    width: 200px;
    padding: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @include modal-content-base;
    div
    {
        white-space: wrap;
    }
    > * 
    {
        padding: 2px 0;   
    }
}
.centered
{
    width: 100%;
    text-align: center;
}
.organize-buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 10px;
}
button
{
    border: 1px solid black;
    border-radius: 5px;
}
input
{
    width: 70px;
}
